name: pr_review

on:
  pull_request:
    branches: [ "main" ]

jobs:
  review:
    runs-on: ubuntu-24.04
    permissions: write-all

    container:
      image: nicolasalexandredev/r-type:dependencies
      volumes:
        - ${{ github.workspace }}:/app:rw

    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y flex bison javacc
        sudo apt-get install -y libflac-dev

    - name: Set base_dir
      run: |
        echo "base_dir=$(pwd)" >> $GITHUB_ENV
        cmake .

    - uses: ZedThree/clang-tidy-review@v0.19.0
      id: review
      with:
        clang_tidy_version: 18
        config_file: ./.clang-tidy
        lgtm_comment_body: ""
        exclude: "tests/"
        base_dir: ${{ env.base_dir }}

    - uses: ZedThree/clang-tidy-review/upload@v0.19.0
      id: upload-review

    - if: steps.review.outputs.total_comments > 0
      run: exit 1
